<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Cadastro de Tipos de Despesa</h1>
    </div>
    <form>
        <div class="form-group">
            <label for="Descricao" class="text-light">Descrição:</label>
            <input type="text" class="form-control" id="Descricao" placeholder="Adicione a Descrição" />
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-25">Enviar</button>
            <a class="btn btn-primary w-25">Voltar</a>
        </div>
    </form>
</div>