@model TipoDespesaModel
@{
    ViewData["title"] = "Editar Tipo de Despesa";
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Editar Tipos de Despesa</h1>
    </div>
    <form method="post" asp-controller="TipoDespesa" asp-action="Editar">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label for="TipoDespesa" class="text-light">Tipo Despesa</label>
            <input type="text" class="form-control" id="tipoDespesa" placeholder="Adicione a Descrição" />
            <span class="text-danger" asp-validation-for="tipoDespesa"></span>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-25">Confirmar alteração</button>
            <a class="btn btn-primary w-25" asp-controller="TipoDespesa" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>