@model IEnumerable<TipoDespesaModel>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Tipo Despesa</h1>
        <a class="btn btn-success mx-2" asp-controller="TipoDespesa" asp-action="Cadastrar">Cadastrar Novo Tipo de Despesa</a>
    </div>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Tipo de Despesa</th>
        </tr>
    </thead>
    <tbody>
        @if(Model!=null)
        {
            @foreach(var tipoDespesa in Model)
            {
                <tr>
                    <th scope="row">@tipoDespesa.tipoDespesa</th>
                <td>
                <a asp-controller="TipoDespesa" asp-action="Editar" asp-route-id="@tipoDespesa.Id" class="btn btn-warning mx-2">Editar</a>
                <a asp-controller="TipoDespesa" asp-action="Excluir" asp-route-id="@tipoDespesa.Id" class="btn btn-warning mx-2">Excluir</a>
                </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>